/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

/* styling for general */
body {
    background-color: #f8fafa;
}

/* style for reset Bootstrap */
.bg-light {
    background-color: #ffffff !important;
}
.btn-primary {
    background-color: #8d826c !important;
    border-color: #8d826c !important;
}
.container-fluid {
    padding: 0 !important;
}

/* styling for navbar */
.navbar {
    font-family: "Quicksand", sans-serif;
}
.navbar-brand img {
    max-height: 50px;
}

/* styling for hero section */
.hero-section .hero-image {
    width: 100%;
    border-radius: 40px 10px 40px 10px;
}
.hero-section .hero-welcome h1 {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}
.hero-section .hero-welcome h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 33px;
    margin: 0;
    margin-bottom: 20px;
}
.hero-section .hero-welcome a {
    font-family: "Quicksand", sans-serif;
}

/* style for banner section */
.banner-section img {
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
}
