/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

/* styling for general */
body {
    background-color: #f8fafa;
}

/* style for reset Bootstrap */
.bg-light {
    background-color: #ffffff !important;
}
.bg-primary {
    background-color: #8d826c !important;
}
.text-primary {
    color: #8d826c !important;
}
.text-light {
    color: #ffffff !important;
}
.text-justify {
    text-align: justify;
}
.btn-primary {
    background-color: #8d826c !important;
    border-color: #8d826c !important;
}
.list-group .active {
    background-color: #a1a1a1 !important;
    border: none;
}

/* styling for navbar */
.navbar {
    font-family: "Quicksand", sans-serif;
}
.navbar-brand img {
    max-height: 50px;
}

/* styling for partner section */
.partner-section {
    background-color: #ffffff;
    padding: 30px 0;
}
.partner-section h2 {
    font-family: "Quicksand", sans-serif;
}
.partner-section #partner-list {
    text-align: center;
}
.partner-section #partner-list img {
    height: 100px;
    margin: 10px 20px;
}

/* styling for footer section */
.footer-section {
    background-color: #8d826c;
}
.footer-section h2 {
    font-family: "Quicksand", sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* styling for copyrght section */
.copyright-section p {
    margin: 20px 0;
    font-family: "Quicksand", sans-serif;
}

/* ====================================================== */
/* style for homepage */
/* ====================================================== */
/* styling for hero section */
.hero-section .hero-image {
    width: 100%;
    border-radius: 40px 10px 40px 10px;
}
.hero-section .hero-welcome h1 {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}
.hero-section .hero-welcome h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 33px;
    margin: 0;
    margin-bottom: 20px;
}
.hero-section .hero-welcome a {
    font-family: "Quicksand", sans-serif;
}

/* style for banner section */
.banner-section img {
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
}

/* style for tentangkami section */
.tentangkami-section h2 {
    font-family: "Quicksand", sans-serif;
}
.tentangkami-section p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: justify;
    font-weight: 300;
}
.tentangkami-section a {
    font-family: "Quicksand", sans-serif;
}
.tentangkami-section img {
    width: 50%;
}

/* style for bidangkerja section */
.bidangkerja-section h2 {
    font-family: "Quicksand", sans-serif;
}
.bidangkerja-section .box-bidangkerja {
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
}
.bidangkerja-section .box-bidangkerja img {
    width: 100%;
}
.bidangkerja-section .box-bidangkerja h4 {
    text-align: center;
    margin: 20px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
}
.bidangkerja-section .box-bidangkerja p {
    font-size: 16px;
    text-align: justify;
    font-weight: 300;
    line-height: 30px;
}

/* style for artikel & berita */
.artikelberita-section h6 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-color: #8d826c;
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    border-radius: 6px;
}
.artikelberita-section #artikel-list,
.artikelberita-section #berita-list {
    text-align: center;
    padding: 40px 0;
}
.artikel-berita-item-home {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.artikel-berita-item-home img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}
/* ====================================================== */
/* end style for homepage */
/* ====================================================== */

/* ====================================================== */
/* end style for tentangkamipage */
/* ====================================================== */
.tentangkami-page {
    font-family: "Poppins", sans-serif;
}
.tentangkami-page p {
    text-align: justify;
    line-height: 35px;
    font-size: 18px;
    font-weight: 300;
}
.tentangkami-page h2 {
    margin-bottom: 50px;
}

/* ====================================================== */
/* ========== MOBILE (default) ========== */
/* ====================================================== */
@media (max-width: 600px) {
    .hero-section .hero-welcome h1 {
        font-size: 35px;
    }
    .hero-section .hero-welcome h3 {
        font-size: 20px;
    }

    .hero-section img {
        border-radius: 5px !important;
        margin-bottom: 30px;
    }

    .banner-section img {
        border-radius: 0 !important;
        height: 400px;
        width: auto;
    }
    .banner-section .container {
        overflow-x: auto;
    }

    .tentangkami-section p {
        font-size: 14px;
    }

    .bidangkerja-section p {
        font-size: 14px;
    }

    .tentangkami-page p {
        font-size: 14px;
    }
    .tentangkami-page h2 {
        margin-bottom: 10px;
    }
    .tentangkami-page .p-3 {
        padding: 0 !important;
    }
    .tentangkami-page .py-5 {
        padding: 0 !important;
    }
    .tentangkami-page .px-3 {
        padding: 0 !important;
    }
    .tentangkami-page .pt-3 {
        padding: 0 !important;
    }
    .tentangkami-page .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tentangkami-page .office {
        border-radius: 0 !important;
        margin-top: 30px;
    }

    .artikel-berita-item-home {
        display: block;
        margin-bottom: 20px;
    }
    .artikel-berita-item-home img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-right: 0px;
        border-radius: 5px;
    }

    .artikel-detail-categories {
        margin-bottom: 50px;
    }
}

/* ====================================================== */
/* ========== TABLET ========== */
/* ====================================================== */
@media (min-width: 601px) and (max-width: 1024px) {
    .hero-section .hero-welcome h1 {
        font-size: 35px;
    }
    .hero-section .hero-welcome h3 {
        font-size: 20px;
    }
    .hero-section img {
        border-radius: 5px !important;
        margin-bottom: 30px;
    }

    .banner-section img {
        border-radius: 0 !important;
        height: 400px;
        width: auto;
    }
    .banner-section .container {
        overflow-x: auto;
    }

    .tentangkami-section img {
        width: 200px;
        margin: 30px 0;
    }
    .tentangkami-section p {
        font-size: 20px;
    }

    .bidangkerja-section p {
        font-size: 20px;
    }

    .tentangkami-page p {
        font-size: 18px;
    }
    .tentangkami-page h2 {
        margin-bottom: 10px;
    }
    .tentangkami-page .p-3 {
        padding: 0 !important;
    }
    .tentangkami-page .py-5 {
        padding: 0 !important;
    }
    .tentangkami-page .px-3 {
        padding: 0 !important;
    }
    .tentangkami-page .pt-3 {
        padding: 0 !important;
    }
    .tentangkami-page .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tentangkami-page .office {
        border-radius: 0 !important;
        margin-top: 30px;
    }
}
